---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "skeleton";
@import "morph";

@font-face {
  font-family: 'Departure Mono';
  src: url('{{ "/assets/fonts/DepartureMono-Regular.otf" | relative_url }}');
  font-weight: normal;
  font-style: normal;
}

/* Aplica a todo o site */
html, body, p, li, h1, h2, h3 {
  font-family: 'Departure Mono', monospace !important;
}
