<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

<p>Visualizações: <span id="contador"></span></p>

<script>
  fetch('https://api.countapi.xyz/hit/everdoh.github.io/visitas')
    .then(response => response.json())
    .then(data => {
      document.getElementById('contador').innerText = data.value;
    })
    .catch(error => console.error("Erro ao obter o contador", error));
</script>



  <body>

    <main class="page-content" aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>

  </body>

</html>
